


html {
  height: 100%;
}
.heading{
      padding-left: 100px;
      color: #252121;
     font-size: 25px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
.logo{
      color: "white";

    
}
.tablesmall{
  width:100;
  border: '1px solid white';
  border-collapse: "collapse"
}
.tablesmall th{
  background-color: #ce5a7d;
  font-family:'Gill Sans',
  'Gill Sans MT',
  Calibri,
  'Trebuchet MS',
  sans-serif;
    font-size: 20px;
}
.tablesmall td{
  border: 1px solid white
}
h4{
  font-family:'Gill Sans',
  'Gill Sans MT',
  Calibri,
  'Trebuchet MS',
  sans-serif
}
h6{
       
       background-color: #ce5a7d;
         font-family:'Gill Sans',
         'Gill Sans MT',
         Calibri,
         'Trebuchet MS',
         sans-serif;
       font-size: 20px;
       width: 1100px;
     
}
.tablelong {
  width:100%;
  border:1px solid black;
  border-collapse: collapse
}
.topnav {
    overflow: hidden;
    background-color:white;
         padding-right: 12px;
     padding-left: 12px;
     font-size:30px;
   text-emphasis-color: white;
    border-bottom: solid 1px whitesmoke;
    border-bottom-width: 6px;
   
  }
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:white;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
      font-family: Cambria,
      Cochin,
      Georgia,
      Times,
      'Times New Roman',
      serif;

  display: block;
}

.sidenav a:hover {
  color: #512A36;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

  .sidenav a {
    font-size: 18px;
  }
  .topic{
    font-family:'Times New Roman', Times, serif
  }
  .topnav1 {
    align-content: flex-end;
    height: 50px;
    width: 50px;
    border-radius:  50%;
    margin-right: auto;
    float:right;
  }
  .top {
   width: 170px;
   height: 70px;
  padding-left: 0px;


  }
  .main {
    margin-left: 180px;

    font-size: 28px;
    padding: 12px 10px;
  }
table,
th,
td {
  border: 1px solid black;
 
  border-collapse: collapse;
  font-family:'Times New Roman',
  Times,
  serif;
  font-size: 20px;
  
}
p{
  font-family:'Times New Roman',
  Times,
  serif;
  padding-left: 35px;
  height:30%
}
.youtube {
  width: 400px;
  height: 180px;
  padding-left: 0px;
  padding-right: 0px;

}
.green{
  color:rgb(72, 109, 16);
  font-weight: bold;
}
.violet {
  color: rgb(138, 51, 138);
  font-weight: bold;
}
.red{
  color:rgb(168, 28, 28);
  font-weight: bold;
}
body {
  font-family: 'lato', sans-serif;
   margin:0%
}

.container {
  /* max-width: 1000px; */
  /* margin-left: auto; */
 
  padding-left: 10px;
  padding-right: 10px;
   margin-right: auto;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

  small {
    font-size: 0.5em;
  }


.responsive table{
  padding-left: 0px;
  width: 1000px;
  height: 100px;
  text-align: justify;

}
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }

  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 15px;
    width: 1040px;
    padding-left: 0px;
    padding-right: 0px;

  }

  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    height: 15px;
    width: 1040px;
    padding-left: 0px;
    padding-right: 0px;
        padding-top: 5px;
        padding-bottom: 10px;

  }


  .col-1 {
    flex-basis: 10%;
  }

  .col-2 {
    flex-basis: 40%;
  }

  .col-3 {
    flex-basis: 25%;
    padding-right: 80px;
  }

  .col-4 {
    flex-basis: 25%;
  }
   .col-5 {
     flex-basis: 10%;
   }
