
html{
  height: 100%;
  width: 100%;
  margin:0%
}
body{
  margin:0%;
   height: 100%;
   width: 100%;
   margin:0%
}

.heading{
      padding-left: 140px;
      color: #252121;
     font-size: 25px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-left: 0%;
     margin-right:0%;
     text-align: center;
      
    
}
.logo{
      float:left;
}

h4{
  font-family:'Gill Sans',
  'Gill Sans MT',
  Calibri,
  'Trebuchet MS',
  sans-serif
}



.topnav {
    overflow: hidden;
    background-color:white;
         
     font-size:30px;
   text-emphasis-color: white;
    border-bottom-width: 6px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    margin-left: 0px;
    margin-right: 0px;
    height:100px;
    width:100%;
    


   
  }
  .move {
    color:rgb(116, 29, 116);
    float: right;
    padding-right: 12px;
    margin-right: 12px;
    margin-left: 12px;
    height: 10px;
    width: 20px;
    padding-top: 5px;
  }
.sidenav {
  
  position:absolute;
  
   background-color: #f3f3f3;
  height:695px;
  margin-top: 5px;
  padding-top: 0px;

}


.sidenav a {

  padding: 6px 40px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  padding-right: 40px;
  font-weight:inherit;
  font-style:initial;
  
 
  
 /* color:rgb(102, 20, 102); */
 color: purple;
 
  /* color: #818181; */
      /* font-family: Cambria,
      Cochin,
      Georgia,
      Times,
      'Times New Roman',
      serif; */
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  display:block;
  text-align: left;
}

.sidenav a:hover {
  color: #440518;
  background-color: rgb(255, 254, 254);
  
}
  /* .sidenav a {
    font-size: 18px;
  } */
  .topic{
    font-family:'Times New Roman', Times, serif
  }
  .topnav1 {
    height: 50px;
    width: 50px;
    float:right;
  }
  .top {
   height: 58px;
   padding-left: 30px;
   width: 120px;
   padding-top: 10px;



  }
  .main {
    margin-left: 180px;
    font-size: 28px;
    padding: 10px 30px;

  }
/*  */
p{
  font-family:'Times New Roman',
  Times,
  serif;
  padding-left: 35px;
  height:30%
}
.youtube {
  height: 150px;
  width: 350px;
  padding-left: 0px;
  padding-right: 0px;

}
.green{
  color:rgb(72, 109, 16);
  font-weight: bold;
}
.violet {
  color: rgb(138, 51, 138);
  font-weight: bold;
}
.red{
  color:rgb(168, 28, 28);
  font-weight: bold;
}
body {
  font-family: 'lato', sans-serif;
   margin:0%
}

.container {
  
   margin-left: 0px;
   margin-right: 0px;
   padding-left: 0px;
   padding-right: 0px;
   width: 1000px;

}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

  small {
    font-size: 0.5em;
  }


  


footer{
  font-size: x-small;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
 /* border-top:1px solid black; */
 
    height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
     font-weight: bold;

}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
 box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
 font-family: 'Times New Roman',
 Times,
 serif;
}

.styled-table td {
  padding: 12px 15px;
  text-align: center;
  font-size: 20;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  font-size: 20;
}
.line{
    border-bottom:1px solid #9b9797;
   width: 190px;
   padding-right: 805px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 0px;
   margin-left: 0px;
   margin-right: 0px;
   padding-bottom: 5px;
   font-size:30px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: left;


}
.heading{
  text-align: center;
  padding-left: 80px;

  
}
.tableheading th {
  text-align: left;
 margin-top: 0px;
 margin-bottom: 0px;
  font-family: Arial,
  Helvetica,
  sans-serif;
  font-weight: normal;
  font-size:17px;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  /* color: rgb(138, 9, 138); */
   /* color:rgb(116, 29, 116); */
   /* color:rgb(90, 10, 90); */
color: purple;
}
.styled-table tbody tr.active-row {
  color:black;
  font-family: Arial,
  Helvetica,
  sans-serif;
  font-size: 15px;
}
.active-head th{
  color:#252121;
font-size: 15px;
color: #ffffff;
  text-align: center;
  color: rgb(185, 171, 171);
 padding: 12px 15px;
 text-align: center;
 border-bottom: 1px solid black;
 font-weight: normal;
}
.column{
  background-color: #f3f3f3;
}
.click{
  background-color: purple;
  color:white;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100px;
    font-size: 12px;
    border: none;
    border-radius: 0.3125rem;
    color: white;
    font-weight: 300;
    
}